<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>WORKDIR=`pwd`
echo &apos;Hello Docker.&apos;

# Run Docker Container.
docker run koduki/centos7  /bin/bash -c &quot;$(cat &lt;&lt;EOL

cat /etc/redhat-release
ls -l

EOL
)&quot;
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
  </publishers>
  <buildWrappers/>
</project>
